.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.address-text-field {
  width: 80%;
}

.token-data {
  width: 500px;
  display: inline-block;
}

.token-row {
  margin: 15px;
}
